<template>
  <div id="todos">
    <div class="row">
      <div class="col s10 offset-s1">
        <ul class="collection with-header">
          <li class="collection-header">
            <div class="row">
              <div class="col s10">
                <div class="input-field">
                  <input type="text" placeholder="New todo" v-model="newTodo" @keyup.enter="add">
                </div>
              </div>
              <div class="col s2">
                <p >
                  <input type="checkbox" id="checkAll" v-model="allChecked"><label for="checkAll">Check all</label>
                </p>
              </div>
            </div>
          </li>
          <li class="collection-item" v-for="todo in todosFiltred" :class="{editing : todo.id == editing.id}">
            <div class="row">
              <div class="col s6">
                <p>
                  <input type="checkbox" :id="todo.id" v-model="todo.completed"/>
                  <label :for="todo.id" :class="{completed : todo.completed}" @dblclick.prevent="toEdit(todo)">{{todo.name}}</label>
                  <input type="text" placeholder="editing"
                         :class="{editing : todo.id == editing.id}"
                         v-model="editing.name"
                         @keyup.enter="edit"
                         @keyup.escape="cancelEditing"
                         @blur="cancelEditing"
                         v-focus="todo.id == editing.id">
                </p>
              </div>
              <p class="col s6 right-align">
                <a href="#!" class="btn waves-effect waves-teal "><i class="close material-icons" @click.prevent="remove(todo.id)">close</i></a>
              </p>
            </div>
          </li>
          <li class="collection-footer" v-show="hasTodos">
            <div class="row">
              <span class="col s3">
                <p>
                  <label class="the-badge">{{uncompleted}} task{{uncompleted > 1 ? 's' : ''}} uncompleted</label><br>
                  <label class="the-badge" ><a @click.prevent="deleteCompleted">delete completed</a></label>
                </p>
              </span>
              <div class="col s6 offset-s3">
                <span>What to show ?</span>
                <ul>
                  <li><input type="radio" v-model="filterBy" value="all" id="all"><label for="all">all</label></li>
                  <li><input type="radio" v-model="filterBy" value="completed" id="completed"><label for="completed">completed</label></li>
                  <li><input type="radio" v-model="filterBy" value="uncompleted" id="uncompleted"><label for="uncompleted">uncompleted</label></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'todos',
    props: {
      value: {type: Array, default () { return [] }}
    },
    data () {
      return {
        todos: this.value,
        filterBy: 'all',
        newTodo: '',
        oldTodo: '',
        editing: {}
      }
    },
    computed: {
      completed () {
        return this.todos.filter(t => t.completed).length
      },
      uncompleted () {
        return this.todos.filter(t => !t.completed).length
      },
      todosFiltred () {
        if (this.filterBy === 'completed') {
          return this.todos.filter(t => t.completed)
        } else if (this.filterBy === 'uncompleted') {
          return this.todos.filter(t => !t.completed)
        }
        return this.todos
      },
      allChecked: {
        get () {
          let result = true
          if (this.todos.length === 0) {
            return false
          }
          this.todos.forEach(t => {
            if (t.completed === false) {
              result = false
            }
          })
          return result
        },
        set () {
          let value = this.allChecked
          this.todos.filter(t => { t.completed = !value })
        }
      },
      hasTodos () {
        return this.todos.length > 0
      }
    },
    methods: {
      add () {
        this.todos.push({id: new Date().getTime(), name: this.newTodo, completed: false})
        this.newTodo = ''
      },
      remove (id) {
        this.todos = this.todos.filter(t => t.id !== id)
        this.$emit('input', this.todos)
      },
      toEdit (t) {
        this.editing = t
        this.oldTodo = t.name
      },
      deleteCompleted () {
        this.todos = this.todos.filter(t => !t.completed)
      },
      cancelEditing () {
        this.editing.name = this.oldTodo
        this.editing = {}
      },
      edit () {
        this.editing = {}
      }
    },
    watch: {
      value (v) {
        this.todos = v
      }
    }
  }
</script>

<style>
  #id {
    margin-top: 20px;
  }
  .collection-item .completed{
    text-decoration: line-through;
    font-size: 18px;
  }
  .the-badge{
    border: solid 1px lightgray;
    padding: 2px;
    margin: 10px;
  }
  .the-badge a{
    color:gray;
    text-decoration: underline;
    cursor: pointer;
  }

  .editing input[type=checkbox], .editing label{
    display: none;
  }
  .editing input[type=text]{
    display: inline !important;
  }
  .collection-item input[type=text]{
    display: none;
  }


</style>