<template>
  <div id="app">
    <my-header></my-header>
    <div id="body" class="container">
      <todos v-model="todos"></todos>
    </div>
  </div>
</template>

<script>
import myHeader from './components/header-app.vue'
import todos from './components/Todos.vue'
export default {
  name: 'app',
  components: {myHeader, todos},
  data () {
    return {
      todos: [
        {
          id: new Date().getTime(),
          name: 'ask for key',
          completed: true
        },
        {
          id: new Date().getTime() + 1,
          name: 'go to the gym',
          completed: true
        }
      ]
    }
  },
  methods: {
    add () {
      this.todos.push(
        {
          id: 0,
          name: 'test',
          completed: false
        })
    }
  }
}
</script>

<style>
  #body{
    padding-top: 16px;
  }
</style>
